@page "/"
@using BlazorWebComp.Data

<h1>Hello, world!</h1>

<FriendList Friends="friends"></FriendList>

@code{
    private Friend[] friends = new[]
{
        new Friend{FirstName="Thomas Claudius",LastName="Huber"},
        new Friend{FirstName="Gill",LastName="Cleeren"},
    };
}
